.btn {
  padding: 0.8rem 1.8rem;
  border: 0.2rem solid #21b573;
  color: white;
  background-color: #21b573;
  border-radius: 2.8rem;
  margin: 0px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.btn:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.5s ease;
  color: black;
}
